* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-family: 'Fredoka One';
}

body {
    padding-top: 2em;
    background-color: rgb(255, 255, 255);
}

h1 {
    margin-bottom: 1.5em;
    color: #E53170;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}

p {
    text-align: center;
    margin-bottom: 2em;
}

.box-member {
    float: left;
    margin-right: 1.5em;
    width: 350px;
    height: 100px;
    background-color: #0F0E17;
    color: rgb(255, 255, 255);
}

.size-image {
    float: left;
    width: 100px;
}