* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-family: 'Fredoka', sans-serif;
}

body {
    padding-top: 2em;
}

h1 {
    margin-bottom: 1.5em;
    color: #E53170;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}

p {
    text-align: center;
    margin-bottom: 2em;
}

.box-member {
    float: left;
    margin: 1.5rem 1rem; 
    width: calc(100% / 3 - 2rem);
    height: 100%;
    background-color: #0F0E17;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}

.size-image {
    float: left;
    height: 100px;
}

.member-name {
    font-weight: 800;
    font-size: large;
    padding-left: 110px;
    padding-top: 15px;
}

.work-type {
    padding-left: 110px;
    padding-top: 5px;
}

.link-mail {
    padding-left: 110px;
    padding-top: 5px;
    color: #48A8B8;
}